mixin icon-1
  svg(
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    width="16px",
    height="15px"
  )
    path(
      fill-rule="evenodd",
      opacity="0.5",
      fill="rgb(255, 255, 255)",
      d="M15.111,9.375 C14.620,9.375 14.222,8.955 14.222,8.437 C14.222,4.819 11.431,1.875 8.000,1.875 C4.569,1.875 1.778,4.819 1.778,8.437 C1.778,8.955 1.380,9.375 0.889,9.375 C0.398,9.375 -0.000,8.955 -0.000,8.437 C-0.000,3.777 3.582,-0.000 8.000,-0.000 C12.418,-0.000 16.000,3.777 16.000,8.437 C16.000,8.955 15.602,9.375 15.111,9.375 ZM7.111,7.632 L7.111,4.687 C7.111,4.169 7.509,3.750 8.000,3.750 C8.491,3.750 8.889,4.169 8.889,4.687 L8.889,7.632 C10.420,8.051 11.555,9.504 11.555,11.250 C11.555,13.321 9.964,15.000 8.000,15.000 C6.036,15.000 4.444,13.321 4.444,11.250 C4.444,9.504 5.580,8.051 7.111,7.632 ZM8.000,13.125 C8.980,13.125 9.778,12.284 9.778,11.250 C9.778,10.216 8.980,9.375 8.000,9.375 C7.020,9.375 6.222,10.216 6.222,11.250 C6.222,12.284 7.020,13.125 8.000,13.125 Z"
    )
mixin icon-2
  svg(
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    width="16px",
    height="16px"
  )
    path(
      fill-rule="evenodd",
      opacity="0.5",
      fill="rgb(255, 255, 255)",
      d="M8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,12.418 12.418,16.000 8.000,16.000 ZM8.000,2.000 C4.692,2.000 2.000,4.692 2.000,8.000 C2.000,11.308 4.692,14.000 8.000,14.000 C11.308,14.000 14.000,11.308 14.000,8.000 C14.000,4.692 11.308,2.000 8.000,2.000 ZM10.010,10.000 L8.000,10.000 L7.000,10.000 L6.990,10.000 C6.443,10.000 6.000,9.557 6.000,9.010 L6.000,5.990 C6.000,5.443 6.443,5.000 6.990,5.000 L7.010,5.000 C7.557,5.000 8.000,5.443 8.000,5.990 L8.000,7.500 C8.000,7.776 8.224,8.000 8.500,8.000 L10.010,8.000 C10.557,8.000 11.000,8.443 11.000,8.990 L11.000,9.010 C11.000,9.557 10.557,10.000 10.010,10.000 Z"
    )
mixin icon-3
  svg(
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    width="16px",
    height="14px"
  )
    path(
      fill-rule="evenodd",
      opacity="0.5",
      fill="rgb(255, 255, 255)",
      d="M12.444,0.875 C12.444,0.392 12.046,-0.000 11.555,-0.000 L4.444,-0.000 C3.954,-0.000 3.556,0.392 3.556,0.875 L-0.000,7.000 L-0.000,13.125 C-0.000,13.608 0.398,14.000 0.889,14.000 L15.111,14.000 C15.602,14.000 16.000,13.608 16.000,13.125 L16.000,7.000 L12.444,0.875 ZM5.095,1.750 L10.905,1.750 L13.444,6.125 L10.222,6.125 C9.977,6.125 9.778,6.321 9.778,6.562 L9.778,6.922 C9.778,7.835 9.101,8.653 8.178,8.741 C7.118,8.843 6.222,8.022 6.222,7.000 L6.222,6.562 C6.222,6.321 6.023,6.125 5.778,6.125 L2.556,6.125 L5.095,1.750 ZM13.778,12.250 L2.222,12.250 C1.977,12.250 1.778,12.054 1.778,11.812 L1.778,7.875 L4.561,7.875 C4.956,9.384 6.344,10.500 8.000,10.500 C9.656,10.500 11.044,9.384 11.439,7.875 L14.222,7.875 L14.222,11.812 C14.222,12.054 14.023,12.250 13.778,12.250 Z"
    )
mixin icon-4
  svg(
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    width="16px",
    height="16px"
  )
    path(
      fill-rule="evenodd",
      opacity="0.5",
      fill="rgb(255, 255, 255)",
      d="M15.000,16.000 L1.000,16.000 C0.448,16.000 -0.000,15.552 -0.000,15.000 L-0.000,4.000 L-0.000,3.000 L-0.000,1.000 C-0.000,0.448 0.448,-0.000 1.000,-0.000 L4.990,-0.000 L5.010,-0.000 L10.990,-0.000 L11.010,-0.000 L15.000,-0.000 C15.552,-0.000 16.000,0.448 16.000,1.000 L16.000,3.000 L16.000,4.000 L16.000,15.000 C16.000,15.552 15.552,16.000 15.000,16.000 ZM11.010,4.000 L10.990,4.000 L5.010,4.000 L4.990,4.000 L2.500,4.000 C2.224,4.000 2.000,4.224 2.000,4.500 L2.000,13.500 C2.000,13.776 2.224,14.000 2.500,14.000 L13.500,14.000 C13.776,14.000 14.000,13.776 14.000,13.500 L14.000,4.500 C14.000,4.224 13.776,4.000 13.500,4.000 L11.010,4.000 ZM10.500,12.000 L8.500,12.000 L7.500,12.000 L5.500,12.000 C5.224,12.000 5.000,11.776 5.000,11.500 L5.000,10.500 C5.000,10.224 5.224,10.000 5.500,10.000 L7.000,10.000 L7.000,8.000 L5.500,8.000 C5.224,8.000 5.000,7.776 5.000,7.500 L5.000,6.500 C5.000,6.224 5.224,6.000 5.500,6.000 L7.500,6.000 L8.500,6.000 C8.776,6.000 9.000,6.224 9.000,6.500 L9.000,7.500 L9.000,10.000 L10.500,10.000 C10.776,10.000 11.000,10.224 11.000,10.500 L11.000,11.500 C11.000,11.776 10.776,12.000 10.500,12.000 Z"
    )
mixin icon-5
  svg(
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    width="16px",
    height="10px"
  )
    path(
      fill-rule="evenodd",
      opacity="0.5",
      fill="rgb(255, 255, 255)",
      d="M5.999,9.999 C5.687,9.999 5.389,9.853 5.200,9.599 L3.047,6.730 L1.831,8.554 C1.525,9.013 0.904,9.136 0.445,8.831 C-0.014,8.525 -0.139,7.905 0.167,7.445 L2.167,4.445 C2.347,4.174 2.648,4.009 2.972,3.999 C3.299,4.004 3.605,4.139 3.799,4.400 L5.829,7.105 L8.105,2.552 C8.260,2.243 8.564,2.035 8.910,2.003 C9.257,1.968 9.591,2.122 9.799,2.400 L11.828,5.105 L14.105,0.552 C14.352,0.059 14.951,-0.140 15.447,0.105 C15.941,0.352 16.141,0.953 15.894,1.447 L12.894,7.447 C12.739,7.756 12.435,7.964 12.089,7.995 C11.742,8.026 11.408,7.877 11.200,7.599 L9.170,4.894 L6.894,9.447 C6.739,9.756 6.435,9.964 6.089,9.995 C6.059,9.998 6.029,9.999 5.999,9.999 Z"
    )
mixin icon-6
  svg(
    xmlns="http://www.w3.org/2000/svg",
    xmlns:xlink="http://www.w3.org/1999/xlink",
    width="16px",
    height="16px"
  )
    path(
      fill-rule="evenodd",
      opacity="0.5",
      fill="rgb(255, 255, 255)",
      d="M15.164,6.861 L13.839,6.640 C13.687,5.983 13.426,5.368 13.077,4.813 L13.815,3.780 C14.097,3.386 14.052,2.846 13.710,2.504 L13.496,2.290 C13.153,1.948 12.614,1.903 12.220,2.184 L11.186,2.922 C10.632,2.574 10.017,2.313 9.360,2.161 L9.139,0.835 C9.059,0.353 8.642,-0.000 8.153,-0.000 L7.847,-0.000 C7.358,-0.000 6.941,0.353 6.861,0.835 L6.640,2.161 C5.983,2.313 5.368,2.574 4.813,2.922 L3.780,2.184 C3.386,1.903 2.847,1.948 2.504,2.290 L2.290,2.504 C1.948,2.846 1.903,3.386 2.184,3.780 L2.922,4.813 C2.574,5.368 2.313,5.983 2.161,6.640 L0.836,6.861 C0.353,6.941 -0.000,7.358 -0.000,7.847 L-0.000,8.153 C-0.000,8.642 0.353,9.059 0.836,9.139 L2.161,9.360 C2.313,10.017 2.574,10.632 2.922,11.186 L2.184,12.220 C1.903,12.614 1.948,13.153 2.290,13.496 L2.504,13.710 C2.847,14.052 3.386,14.097 3.780,13.815 L4.813,13.077 C5.368,13.426 5.983,13.687 6.640,13.839 L6.861,15.164 C6.941,15.646 7.358,16.000 7.847,16.000 L8.153,16.000 C8.642,16.000 9.059,15.646 9.139,15.164 L9.360,13.839 C10.017,13.687 10.632,13.426 11.186,13.077 L12.220,13.815 C12.614,14.097 13.153,14.052 13.496,13.710 L13.710,13.496 C14.052,13.153 14.097,12.614 13.815,12.220 L13.077,11.186 C13.426,10.632 13.687,10.017 13.839,9.360 L15.164,9.139 C15.647,9.059 16.000,8.642 16.000,8.153 L16.000,7.847 C16.000,7.358 15.647,6.941 15.164,6.861 ZM8.000,11.000 C6.343,11.000 5.000,9.657 5.000,8.000 C5.000,6.343 6.343,5.000 8.000,5.000 C9.657,5.000 11.000,6.343 11.000,8.000 C11.000,9.657 9.657,11.000 8.000,11.000 Z"
    )
